<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel organization_contact view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contact_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_id}  r-vertical-field" 
	data-signal-error-for="contact_id{$id}" {$required_attr_contact_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="contact_id" data-fieldname="contact_id" >

	<label class="r-edit-label control-label {$contact_id_label_class}" for="{$labelfor_contact_id}">
		{BEGIN contact_id_label}
			{$contact_id_forward_control}
			{$label organization_contact contact_id }			{END contact_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contact_id_value}	</div>
	</div>


{END contact_id_fieldblock}
											
{BEGIN org_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_org_id}  r-vertical-field" 
	data-signal-error-for="org_id{$id}" {$required_attr_org_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="org_id" data-fieldname="org_id" >

	<label class="r-edit-label control-label {$org_id_label_class}" for="{$labelfor_org_id}">
		{BEGIN org_id_label}
			{$org_id_forward_control}
			{$label organization_contact org_id }			{END org_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$org_id_value}	</div>
	</div>


{END org_id_fieldblock}
											
{BEGIN NAME_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NAME}  r-vertical-field" 
	data-signal-error-for="NAME{$id}" {$required_attr_NAME}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="NAME" data-fieldname="NAME" >

	<label class="r-edit-label control-label {$NAME_label_class}" for="{$labelfor_NAME}">
		{BEGIN NAME_label}
			{$NAME_forward_control}
			{$label organization_contact NAME }			{END NAME_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$NAME_value}	</div>
	</div>


{END NAME_fieldblock}
											
{BEGIN designation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_designation}  r-vertical-field" 
	data-signal-error-for="designation{$id}" {$required_attr_designation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="designation" data-fieldname="designation" >

	<label class="r-edit-label control-label {$designation_label_class}" for="{$labelfor_designation}">
		{BEGIN designation_label}
			{$designation_forward_control}
			{$label organization_contact designation }			{END designation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$designation_value}	</div>
	</div>


{END designation_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label organization_contact email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_value}	</div>
	</div>


{END email_fieldblock}
											
{BEGIN phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_phone}  r-vertical-field" 
	data-signal-error-for="phone{$id}" {$required_attr_phone}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="phone" data-fieldname="phone" >

	<label class="r-edit-label control-label {$phone_label_class}" for="{$labelfor_phone}">
		{BEGIN phone_label}
			{$phone_forward_control}
			{$label organization_contact phone }			{END phone_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$phone_value}	</div>
	</div>


{END phone_fieldblock}
											
{BEGIN dob_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dob}  r-vertical-field" 
	data-signal-error-for="dob{$id}" {$required_attr_dob}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="dob" data-fieldname="dob" >

	<label class="r-edit-label control-label {$dob_label_class}" for="{$labelfor_dob}">
		{BEGIN dob_label}
			{$dob_forward_control}
			{$label organization_contact dob }			{END dob_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dob_value}	</div>
	</div>


{END dob_fieldblock}
											
{BEGIN city_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_city}  r-vertical-field" 
	data-signal-error-for="city{$id}" {$required_attr_city}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="city" data-fieldname="city" >

	<label class="r-edit-label control-label {$city_label_class}" for="{$labelfor_city}">
		{BEGIN city_label}
			{$city_forward_control}
			{$label organization_contact city }			{END city_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$city_value}	</div>
	</div>


{END city_fieldblock}
											
{BEGIN pin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pin}  r-vertical-field" 
	data-signal-error-for="pin{$id}" {$required_attr_pin}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="pin" data-fieldname="pin" >

	<label class="r-edit-label control-label {$pin_label_class}" for="{$labelfor_pin}">
		{BEGIN pin_label}
			{$pin_forward_control}
			{$label organization_contact pin }			{END pin_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$pin_value}	</div>
	</div>


{END pin_fieldblock}
											
{BEGIN country_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country}  r-vertical-field" 
	data-signal-error-for="country{$id}" {$required_attr_country}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="country" data-fieldname="country" >

	<label class="r-edit-label control-label {$country_label_class}" for="{$labelfor_country}">
		{BEGIN country_label}
			{$country_forward_control}
			{$label organization_contact country }			{END country_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_value}	</div>
	</div>


{END country_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="organization_contact_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
