<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel organization_director edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="organization_director_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN org_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_org_id}  r-vertical-field" 
	data-signal-error-for="org_id{$id}" {$required_attr_org_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="org_id" data-fieldname="org_id" >

	<label class="r-edit-label control-label {$org_id_label_class}" for="{$labelfor_org_id}">
		{BEGIN org_id_label}
			{$org_id_forward_control}
			{$label organization_director org_id }			{END org_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$org_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="org_id" {$tooltipAttr organization_director org_id } >
		<div class="text-muted" >
		{$tooltip organization_director org_id }		</div>
	</div>
	</div>


{END org_id_fieldblock}
											
{BEGIN NAME_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NAME}  r-vertical-field" 
	data-signal-error-for="NAME{$id}" {$required_attr_NAME}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="NAME" data-fieldname="NAME" >

	<label class="r-edit-label control-label {$NAME_label_class}" for="{$labelfor_NAME}">
		{BEGIN NAME_label}
			{$NAME_forward_control}
			{$label organization_director NAME }			{END NAME_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$NAME_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="NAME" {$tooltipAttr organization_director NAME } >
		<div class="text-muted" >
		{$tooltip organization_director NAME }		</div>
	</div>
	</div>


{END NAME_fieldblock}
											
{BEGIN designation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_designation}  r-vertical-field" 
	data-signal-error-for="designation{$id}" {$required_attr_designation}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="designation" data-fieldname="designation" >

	<label class="r-edit-label control-label {$designation_label_class}" for="{$labelfor_designation}">
		{BEGIN designation_label}
			{$designation_forward_control}
			{$label organization_director designation }			{END designation_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$designation_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="designation" {$tooltipAttr organization_director designation } >
		<div class="text-muted" >
		{$tooltip organization_director designation }		</div>
	</div>
	</div>


{END designation_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label organization_director email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="email" {$tooltipAttr organization_director email } >
		<div class="text-muted" >
		{$tooltip organization_director email }		</div>
	</div>
	</div>


{END email_fieldblock}
											
{BEGIN phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_phone}  r-vertical-field" 
	data-signal-error-for="phone{$id}" {$required_attr_phone}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="phone" data-fieldname="phone" >

	<label class="r-edit-label control-label {$phone_label_class}" for="{$labelfor_phone}">
		{BEGIN phone_label}
			{$phone_forward_control}
			{$label organization_director phone }			{END phone_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$phone_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="phone" {$tooltipAttr organization_director phone } >
		<div class="text-muted" >
		{$tooltip organization_director phone }		</div>
	</div>
	</div>


{END phone_fieldblock}
											
{BEGIN din_number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_din_number}  r-vertical-field" 
	data-signal-error-for="din_number{$id}" {$required_attr_din_number}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="din_number" data-fieldname="din_number" >

	<label class="r-edit-label control-label {$din_number_label_class}" for="{$labelfor_din_number}">
		{BEGIN din_number_label}
			{$din_number_forward_control}
			{$label organization_director din_number }			{END din_number_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$din_number_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="din_number" {$tooltipAttr organization_director din_number } >
		<div class="text-muted" >
		{$tooltip organization_director din_number }		</div>
	</div>
	</div>


{END din_number_fieldblock}
											
{BEGIN dob_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dob}  r-vertical-field" 
	data-signal-error-for="dob{$id}" {$required_attr_dob}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="dob" data-fieldname="dob" >

	<label class="r-edit-label control-label {$dob_label_class}" for="{$labelfor_dob}">
		{BEGIN dob_label}
			{$dob_forward_control}
			{$label organization_director dob }			{END dob_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$dob_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="dob" {$tooltipAttr organization_director dob } >
		<div class="text-muted" >
		{$tooltip organization_director dob }		</div>
	</div>
	</div>


{END dob_fieldblock}
											
{BEGIN city_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_city}  r-vertical-field" 
	data-signal-error-for="city{$id}" {$required_attr_city}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="city" data-fieldname="city" >

	<label class="r-edit-label control-label {$city_label_class}" for="{$labelfor_city}">
		{BEGIN city_label}
			{$city_forward_control}
			{$label organization_director city }			{END city_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$city_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="city" {$tooltipAttr organization_director city } >
		<div class="text-muted" >
		{$tooltip organization_director city }		</div>
	</div>
	</div>


{END city_fieldblock}
											
{BEGIN pin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pin}  r-vertical-field" 
	data-signal-error-for="pin{$id}" {$required_attr_pin}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="pin" data-fieldname="pin" >

	<label class="r-edit-label control-label {$pin_label_class}" for="{$labelfor_pin}">
		{BEGIN pin_label}
			{$pin_forward_control}
			{$label organization_director pin }			{END pin_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$pin_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="pin" {$tooltipAttr organization_director pin } >
		<div class="text-muted" >
		{$tooltip organization_director pin }		</div>
	</div>
	</div>


{END pin_fieldblock}
											
{BEGIN country_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_country}  r-vertical-field" 
	data-signal-error-for="country{$id}" {$required_attr_country}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="country" data-fieldname="country" >

	<label class="r-edit-label control-label {$country_label_class}" for="{$labelfor_country}">
		{BEGIN country_label}
			{$country_forward_control}
			{$label organization_director country }			{END country_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$country_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="country" {$tooltipAttr organization_director country } >
		<div class="text-muted" >
		{$tooltip organization_director country }		</div>
	</div>
	</div>


{END country_fieldblock}
											
{BEGIN date_of_appointment_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_of_appointment}  r-vertical-field" 
	data-signal-error-for="date_of_appointment{$id}" {$required_attr_date_of_appointment}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="date_of_appointment" data-fieldname="date_of_appointment" >

	<label class="r-edit-label control-label {$date_of_appointment_label_class}" for="{$labelfor_date_of_appointment}">
		{BEGIN date_of_appointment_label}
			{$date_of_appointment_forward_control}
			{$label organization_director date_of_appointment }			{END date_of_appointment_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$date_of_appointment_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="date_of_appointment" {$tooltipAttr organization_director date_of_appointment } >
		<div class="text-muted" >
		{$tooltip organization_director date_of_appointment }		</div>
	</div>
	</div>


{END date_of_appointment_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN reset_button}
	<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
{END reset_button}
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="organization_director_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
