<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel users add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-vertical-field" 
	data-signal-error-for="ID{$id}" {$required_attr_ID}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ID" data-fieldname="ID" >

	<label class="r-edit-label control-label {$ID_label_class}" for="{$labelfor_ID}">
		{BEGIN ID_label}
			{$ID_forward_control}
			{$label users ID }			{END ID_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ID_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="ID" {$tooltipAttr users ID } >
		<div class="text-muted" >
		{$tooltip users ID }		</div>
	</div>
	</div>


{END ID_fieldblock}
											
{BEGIN username_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-vertical-field" 
	data-signal-error-for="username{$id}" {$required_attr_username}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >

	<label class="r-edit-label control-label {$username_label_class}" for="{$labelfor_username}">
		{BEGIN username_label}
			{$username_forward_control}
			{$label users username }			{END username_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$username_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="username" {$tooltipAttr users username } >
		<div class="text-muted" >
		{$tooltip users username }		</div>
	</div>
	</div>


{END username_fieldblock}
											
{BEGIN password_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_password}  r-vertical-field" 
	data-signal-error-for="password{$id}" {$required_attr_password}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="password" data-fieldname="password" >

	<label class="r-edit-label control-label {$password_label_class}" for="{$labelfor_password}">
		{BEGIN password_label}
			{$password_forward_control}
			{$label users password }			{END password_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$password_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="password" {$tooltipAttr users password } >
		<div class="text-muted" >
		{$tooltip users password }		</div>
	</div>
	</div>


{END password_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" {$required_attr_email}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label {$email_label_class}" for="{$labelfor_email}">
		{BEGIN email_label}
			{$email_forward_control}
			{$label users email }			{END email_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="email" {$tooltipAttr users email } >
		<div class="text-muted" >
		{$tooltip users email }		</div>
	</div>
	</div>


{END email_fieldblock}
											
{BEGIN fullname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fullname}  r-vertical-field" 
	data-signal-error-for="fullname{$id}" {$required_attr_fullname}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fullname" data-fieldname="fullname" >

	<label class="r-edit-label control-label {$fullname_label_class}" for="{$labelfor_fullname}">
		{BEGIN fullname_label}
			{$fullname_forward_control}
			{$label users fullname }			{END fullname_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fullname_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="fullname" {$tooltipAttr users fullname } >
		<div class="text-muted" >
		{$tooltip users fullname }		</div>
	</div>
	</div>


{END fullname_fieldblock}
											
{BEGIN groupid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_groupid}  r-vertical-field" 
	data-signal-error-for="groupid{$id}" {$required_attr_groupid}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="groupid" data-fieldname="groupid" >

	<label class="r-edit-label control-label {$groupid_label_class}" for="{$labelfor_groupid}">
		{BEGIN groupid_label}
			{$groupid_forward_control}
			{$label users groupid }			{END groupid_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$groupid_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="groupid" {$tooltipAttr users groupid } >
		<div class="text-muted" >
		{$tooltip users groupid }		</div>
	</div>
	</div>


{END groupid_fieldblock}
											
{BEGIN active_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-vertical-field" 
	data-signal-error-for="active{$id}" {$required_attr_active}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >

	<label class="r-edit-label control-label {$active_label_class}" for="{$labelfor_active}">
		{BEGIN active_label}
			{$active_forward_control}
			{$label users active }			{END active_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$active_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="active" {$tooltipAttr users active } >
		<div class="text-muted" >
		{$tooltip users active }		</div>
	</div>
	</div>


{END active_fieldblock}
											
{BEGIN ext_security_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ext_security_id}  r-vertical-field" 
	data-signal-error-for="ext_security_id{$id}" {$required_attr_ext_security_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="ext_security_id" data-fieldname="ext_security_id" >

	<label class="r-edit-label control-label {$ext_security_id_label_class}" for="{$labelfor_ext_security_id}">
		{BEGIN ext_security_id_label}
			{$ext_security_id_forward_control}
			{$label users ext_security_id }			{END ext_security_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ext_security_id_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="ext_security_id" {$tooltipAttr users ext_security_id } >
		<div class="text-muted" >
		{$tooltip users ext_security_id }		</div>
	</div>
	</div>


{END ext_security_id_fieldblock}
											
{BEGIN apikey_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_apikey}  r-vertical-field" 
	data-signal-error-for="apikey{$id}" {$required_attr_apikey}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="apikey" data-fieldname="apikey" >

	<label class="r-edit-label control-label {$apikey_label_class}" for="{$labelfor_apikey}">
		{BEGIN apikey_label}
			{$apikey_forward_control}
			{$label users apikey }			{END apikey_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$apikey_editcontrol}	</div>
		<div class="r-edit-tooltip" data-helpfor="apikey" {$tooltipAttr users apikey } >
		<div class="text-muted" >
		{$tooltip users apikey }		</div>
	</div>
	</div>


{END apikey_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		{BEGIN reset_button}
<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
{END reset_button}
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
